<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.expensemaster.Activities">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".OverviewActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddExpenseActivity"
            android:parentActivityName=".OverviewActivity" />
        <activity android:name=".ExpenseListActivity" />
        <activity
            android:name=".ExpenseRecyclerActivity"
            android:parentActivityName=".OverviewActivity" />
        <activity
            android:name=".CategoriesListActivity"
            android:parentActivityName=".OverviewActivity" />
        <activity
            android:name=".SearchTransactionActivity"
            android:parentActivityName=".OverviewActivity" />
        <activity android:name=".ChartsActivity" />
        <activity android:name=".DisplayGraphActivity"></activity>
    </application>

</manifest>
